@import "variables";

.load-status-filter {
  width: 212px;
  font-family: $poppins;
  font-size: 14px;
  background-color: $white;

  &-title {
    padding: 10px;
    font-weight: $font-semibold;
    margin-top: 7px;
  }

  &-option {
    padding: 9px 10px;
    color: $grey-color-text;

    &:hover {
      background-color: #CDD2D3;
      cursor: pointer;
      color: $black-text;
    }
  }

  .active {
    background-color: $green;
    color: $white;
  }
}