<div class="select-source">
  <div class="select-source-topbar">
    <div class="select-source-topbar-container">
      <button class='select-source-cancel-btn' (click)="navigateToPreviousPage()">
        <fa-icon class="select-source-nav-icon" [icon]="faArrowLeft"></fa-icon>
        {{ constants.global.back }}
      </button>
      <button class='select-source-cancel-btn' (click)="navigateToPreviousPage()">
        <fa-icon class="select-source-nav-icon" [icon]="faXmark"></fa-icon>
        {{ constants.global.cancel }}
      </button>
    </div>
  </div>
  <div class="select-source-search-container">
    <div class="select-source-left-width"></div>
    <div class="select-source-header">
      {{ constants.sourceSelection.title }}
      <div class="select-source-search">
        <app-search-bar placeholder="Search a product"></app-search-bar>
      </div>
    </div>
  </div>
  <div class="select-source-container">
    <div class="select-source-right-container">
      <div class="select-source-right">
        <div class="select-source-categories">
            <div class="select-source-category">
              <div class="select-source-category-group">
                <app-product-card
                  (onClick)="productCardClicked(source)"
                  class="select-source-option"
                  classes="image-36 align-left {{isSelected(source.typeName)}}"
                  data-testid="source-option"
                  [description]="source.description"
                  [img]="getTypeImage(source.typeName)"
                  *ngFor="let source of sources"
                  [title]="source.typeName"
                ></app-product-card>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="continue-btn">
      <app-button
      classes="button-green text-semibold"
      (click)="continue()"
      [disabled]="sourceSelected === null"
      >
          {{constants.global.continue}}
      </app-button>
    </div>
  </div>
</div>
