@import "variables";

.pipeline {
  display: flex;
  flex-direction: row;

  &-left {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh;
  }

  &-right {
    width: calc(100% - 10px);
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-top {
      height: 10rem;

      &-navbar {
        background-color: red;
        height: 2rem;
      }

      &-body {
        height: calc(100% - 2rem);
      }
    }

    &-body {
      padding: 10px 10px;
      gap: 0.5rem;
      display: flex;
      flex-direction: column;
      height: 100%;

      &-loading {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $grey-color-text;
        font-size: 0.7rem;
        font-weight: 500;
      }

      &-no-pipeline {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $grey-color-text;
        font-size: 0.7rem;
        font-weight: 500;
        gap: 0.3rem;
        height: 100%;

        &-create-new {
          text-decoration: underline;
          color: $blue-color-text;
          cursor: pointer;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}