<div class="pipeline">
  <div class="pipeline-left">
    <app-general-left-sidebar></app-general-left-sidebar>
  </div>
  <div class="pipeline-right">
    <div class="pipeline-right-top">
      <div class="pipeline-right-top-navbar"></div>
      <div class="pipeline-right-top-body">
        <app-pipeline-header
          (openPopupEvent)="hoverCreatePipelinePopup()"
        ></app-pipeline-header>
      </div>
    </div>
    <div class="pipeline-right-body">
      <ng-container *ngIf="loading; else checkPipelines">
        <div class="pipeline-right-body-loading">Loading...</div>
      </ng-container>

      <ng-template #checkPipelines>
        <ng-container *ngIf="pipelines.length === 0; else showPipelines">
          <div class="pipeline-right-body-no-pipeline">
            <div>{{ CONSTANTS.pipeline.noPipelineFound }}</div>
            <div
              class="pipeline-right-body-no-pipeline-create-new"
              (click)="hoverCreatePipelinePopup()"
            >
              {{ CONSTANTS.pipeline.createNew }}
            </div>
          </div>
        </ng-container>
      </ng-template>

      <ng-template #showPipelines>
        <ng-container *ngFor="let pipeline of pipelines">
          <app-pipeline-body [pipeline]="pipeline"></app-pipeline-body>
        </ng-container>
      </ng-template>
    </div>
  </div>
</div>
<app-create-pipeline
  [showCreatePipelineModal]="showCreatePipelineModal"
  (closeModalEvent)="showCreatePipelineModal = false"
></app-create-pipeline>
