@import "variables";

.pipeline-header-navbar {
  &-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 0.7em;
    gap: 35px;
    align-items: center;
    background-color: #ffffff;
    padding: 0.5rem 2.5em;
    height: 100%;
  }

  &-team {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    font-size: 12px;

    &-selected {
      background-color: $white !important;
      cursor: default !important;
    }

    &-selection {
      display: flex;
      flex-direction: row;
      gap: 0.4rem;
      align-items: center;

      &-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0083be;
        color: $white;
        min-width: 25px;
        min-height: 25px;
        font-size: 11px;
      }
    }

    &-dropdown-menu {
      display: flex;
      flex-direction: column;
      list-style: none;
      border: 1px #d4dce0 solid;
      box-shadow: 0px 1px 6px $team-dropdown-menu-box-shadow;
      border-radius: 2px;
      color: black;
      position: absolute;
      top: 2.5em;
      min-width: 150px;
      transition: 0.2s;
      z-index: 1;
      padding: 0;
      font-size: 15px;

      & li {
        padding: 0.7em 0.5em;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 1px solid #d4dce0;
        height: 100%;
        background-color: $grey-bg;
        font-size: 12px;

        &:hover {
          background-color: $white;
        }
      }
    }

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #0083be;
      color: $white;
      min-width: 30px;
      min-height: 30px;
      font-size: 12px;
    }

    &-arrow {
      font-size: 20px;
      transform: rotate(90deg);
      cursor: pointer;

      &:hover {
        color: $green;
        transition: 0.2s;
        transform: rotate(90deg) translateX(1px);
      }
    }

    &-name {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    &-container {
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 1px solid $grey-bg;
      padding: 0 19px 0 19px;
      gap: 0.7rem;
    }

    &-settings {
      display: flex;
      flex-direction: column;

      &-icon {
        font-size: 15px;
        cursor: pointer;

        &-container {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 17px;
          width: 17px;
          border-radius: 50%;
          border: 2px solid $white;
          transition: border 0.2s;

          &:hover {
            border: 2px solid $green;

            .pipeline-header-navbar-team-settings-icon {
              color: $green;
              transition: 0.2s;
            }
          }
        }
      }

      &-dropdown-menu {
        display: flex;
        flex-direction: column;
        list-style: none;
        border: 1px #d4dce0 solid;
        box-shadow: 0px 1px 6px $team-dropdown-menu-box-shadow;
        border-radius: 2px;
        color: black;
        position: absolute;
        top: 2.5em;
        transform: translateX(-75%);
        transition: 0.2s;
        z-index: 1;
        padding: 0;
        font-size: 15px;

        & li {
          padding: 0.7em 0.5em;
          cursor: pointer;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          border-bottom: 1px solid #d4dce0;
          height: 100%;
          background-color: $grey-bg;
          font-size: 12px;

          &:hover {
            background-color: $white;
          }
        }
      }
    }
  }

  &-bell {
    &-container {
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }

    &-component {
      display: flex;
      flex-direction: row;

      &-dot {
        font-size: 0.25rem;
        color: $green;

        &-container {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
        }
      }
    }
  }

  &-name {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $green;
    color: $white;
    width: 30px;
    height: 30px;
    font-size: 12px;
  }
}
