@import 'variables';

.configure-job {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 42px 40px;
  background-color: $white;
  box-sizing: border-box;
  height: 100vh;
  gap: 53px;

  &-topbar {
    width: 100%;
  }

  &-top-btn {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    display: flex;
    align-items: center;
    height: 22px;
    background-color: transparent;
    border: none;
    border-left: 1px solid $header-text-color;
    color: $header-text-color;
    font-weight: 500;
    cursor: pointer;
  }

  &-content {
    display: flex;
    flex-direction: column;
    width: 90%;

    @media screen and (max-width: $small) {
      width: 100%;
    }
  }

  &-title {
    font-size: 20px;
    font-weight: 600;
  }

  &-description {
    font-size: 13px;
    font-weight: 500;
    color: $grey-color-text;
    margin-bottom: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-name {
    display: flex;
    flex-direction: column;
    gap: 6px;

    & label {
      color: #919E9F;
      font-size: 14px;
      font-weight: $font-medium;
    }

    & input {
      width: 100%;
      height: 40px;
      border: 1px solid #E2E4E8;
      border-radius: 4px;
      box-sizing: border-box;
      padding: 10px;
      font-family: $poppins;
      font-size: 12px;
      font-weight: $font-semibold;

      &:focus-visible {
        outline: none;
      }
    }
  }

  &-btn {
    width: 180px;
    height: 40px;
  }

  &-form {
    width: 100%;
  }

  &-search-bar {
    display: block;
    height: 40px;
  }

  &-products {
    display: flex;
    flex-flow: wrap;
    justify-content: start;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  &-product {
    width: 180px;
    height: 162px;
  }
}