@import "variables";

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  background-color: $sidebar-bg-color;
  height: 100%;
  width: 100%;

  &-icon {
    width: 65%;
    box-sizing: border-box;
    padding: 1rem 0.5rem 1rem 0.5rem;
    border-bottom: 1px solid white;
  }

  &-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }

  &-option {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 0 8px;

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }

    &-icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      color: white;
      font-size: 35px;

    }

    &-text {
      color: $white;
      font-weight: $font-regular;
      font-size: 0.688rem;
    }

    &-active {

      & fa-icon {
        border-left: 3px solid $green;
        color: $green;
      }

      & .sidebar-option-text {
        color: $green;
      }
    }
  }
}
