<div class="sidebar">
  <img
    [src]="CONSTANTS.pipeline.generalLeftSidebar.icon"
    data-testid="sidebar-icon"
    class="sidebar-icon"
    alt="Sidebar-icon"
  />
  <!-- TODO: Change option icons -->
  <div class="sidebar-options">
    <div class="sidebar-option {{activeClass('/pipeline')}}" routerLink="/pipeline">
      <fa-icon class="sidebar-option-icon" [icon]="faAtom"></fa-icon>
      <div class="sidebar-option-text">{{CONSTANTS.pipeline.pipelines}}</div>
    </div>
    <div class="sidebar-option {{activeClass('/connection')}}" routerLink="/connection">
      <fa-icon class="sidebar-option-icon" [icon]="faAtom"></fa-icon>
      <div class="sidebar-option-text">{{CONSTANTS.connection.title}}</div>
    </div>
  </div>
</div>
