<div class="schema-mapper-transformation-modal-overlay" *ngIf="showModal">
  <div class="schema-mapper-transformation-modal-content">
    <div class="schema-mapper-transformation-modal-navbar font-14 text-medium">
      <div
        class="schema-mapper-transformation-modal-navbar-option-add-transformation"
      >
        <app-dropdown
          placeholder="Add Transformation"
          class="dropdown-green"
          [dropdownOptions]="options"
        >
        </app-dropdown>
      </div>
      <div class="schema-mapper-transformation-modal-navbar-option-filter">
        {{ CONSTANTS.schemaMapper.modal.filterColumn }}
      </div>
      <div class="schema-mapper-transformation-modal-navbar-option">
        <fa-icon
          class="schema-mapper-transformation-modal-navbar-option-icon"
          [icon]="faRotateRight"
        ></fa-icon>
        <div>{{ CONSTANTS.schemaMapper.modal.clear }}</div>
      </div>
      <div class="schema-mapper-transformation-modal-navbar-option">
        <fa-icon
          class="schema-mapper-transformation-modal-navbar-option-icon"
          [icon]="faTrashCan"
        ></fa-icon>
        <div>{{ CONSTANTS.schemaMapper.modal.delete }}</div>
      </div>
    </div>
    <div class="schema-mapper-transformation-modal-body">
      <div
        class="schema-mapper-transformation-modal-body-header font-14 text-medium"
      >
        <div>&nbsp;</div>
        <div>{{ CONSTANTS.schemaMapper.modal.transformation }}</div>
        <div>{{ CONSTANTS.schemaMapper.modal.status }}</div>
        <div>{{ CONSTANTS.schemaMapper.modal.dateCreated }}</div>
        <div>&nbsp;</div>
      </div>
      <div
        cdkDropList
        class="schema-mapper-transformation-modal-body-content"
        (cdkDropListDropped)="drop($event)"
      >
        <div *ngFor="let transformation of transformations; let i = index">
          <div cdkDrag>
            <app-schema-mapper-transformation-row
              [mapperId]="transformation.mapperId"
              [transformationName]="transformation.transformationName"
              [status]="transformation.status"
              [date]="transformation.date"
            ></app-schema-mapper-transformation-row>
          </div>
        </div>
      </div>
      <div class="schema-mapper-transformation-modal-body-footer">
        <div class="schema-mapper-transformation-modal-body-footer-button">
          <app-button classes="button-green p-h-5 font-16 text-medium" (click)="handleSave()"
            >{{ CONSTANTS.schemaMapper.modal.save }}
          </app-button>
        </div>
      </div>
    </div>
  </div>
</div>
