<div class="mapper-create-table" [formGroup]="mapperCreateTableFormGroup">
  <div class="mapper-create-table-left">
    <div class="title">
      {{constants.schemaMapper.tableName}}
      <span class="asterisk">*</span>
    </div>
    <input class="input" type="text" formControlName="tableName" />
    <div class="description">{{constants.schemaMapper.tableNameDescription}}</div>
  </div>
  <div class="mapper-create-table-right">
    <div class="btn-cancel">
      <app-button classes="button-outline text-bold font-12" (click)="cancelCreation()">
        {{constants.global.cancel}}
      </app-button>
    </div>
    <div class="btn-create">
      <app-button classes="button-green text-bold font-12" (click)="createTableAndMap()">
        {{constants.schemaMapper.createTableAndMap}}
      </app-button>
    </div>
  </div>
</div>
