  <div class="create-pipeline-content">
    <div class="create-pipeline-close-button">
      <fa-icon
        class="create-pipeline-close-button-icon"
        [icon]="faXmark"
        (click)="closePopup()"
      ></fa-icon>
    </div>
    <div class="create-pipeline-title">
      {{ CONSTANTS.pipeline.createPipelineModal.createPipeline }}
    </div>
    <form class="create-pipeline-form" [formGroup]="createPipelineGroup">
      <div class="create-pipeline-field">
        <div class="create-pipeline-label">
          <label>{{
            CONSTANTS.pipeline.createPipelineModal.pipelineName
          }}</label>
        </div>
        <div>
          <input
            class="create-pipeline-input-field"
            id="name"
            name="name"
            formControlName="name"
            [class.create-pipeline-input-field-invalid]="
              showPipelineNameErrorMessage
            "
          />
        </div>
        <div
          class="create-pipeline-field-error"
          *ngIf="showPipelineNameErrorMessage"
        >
          {{ pipelineNameError }}
        </div>
      </div>
      <div class="create-pipeline-field">
        <div class="create-pipeline-label">
          <label>{{
            CONSTANTS.pipeline.createPipelineModal.description
          }}</label>
        </div>
        <div>
          <textarea
            class="create-pipeline-textarea-field"
            id="description"
            name="description"
            formControlName="description"
            [placeholder]="
              CONSTANTS.pipeline.createPipelineModal.descriptionPlaceholder
            "
            [class.create-pipeline-textarea-field-no-text] = "createPipelineGroup.controls.description.value?.length == 0 || !createPipelineGroup.controls.description.dirty"
          ></textarea>
        </div>
      </div>
    </form>
    <div class="create-pipeline-create-button-container">
      <div class="create-pipeline-create-button">
        <app-button
          classes="button-green p-v-7 p-h-10"
          [isRunning]="isRunning"
          [disabled]="createPipelineGroup.invalid"
          (click)="handleCreatePipeline()"
          >{{ CONSTANTS.pipeline.createPipelineModal.create }}</app-button
        >
      </div>
    </div>
  </div>




