@import "variables";

.create-pipeline {
  &-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  &-content {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    width: 50%;
    max-width: 25rem;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  &-close-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    &-icon {
      color: $grey;
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  &-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  &-form {
    width: 100%;
  }

  &-field {
    width: 100%;
    padding: 10px 0 10px 0;

    &-error {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      color: red;
      font-size: 13px;
    }
  }

  &-label {
    font-size: 15px;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-family: "Hellix-Regular", serif;
    color: $grey-color-text;
    font-weight: 600;
  }
  

  &-input-field {
    width: 100%;
    box-sizing: border-box;
    height: 45px;
    border: 1px solid $grey;
    border-radius: 3px;
    padding: 0 10px 0 10px;
    font-family: "Hind", sans-serif;
    font-size: 15px;

    &-invalid {
        border: 1px solid $red;
  
        &:focus-visible {
          outline: none
        }
    }
  }

  &-textarea-field {
    width: 100%;
    box-sizing: border-box;
    height: 150px;
    border: 1px solid $grey;
    font-family: "Hind", sans-serif;
    padding: 5px 10px 5px 10px;
    font-size: 15px;

    &-no-text {
      font-family: "Hellix-Regular", serif;
      background-color: $text-area;
      color: $text-area-placeholder;
      font-weight: 550;
    }
  }

  &-create-button {
    width: 100px;

    &-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-top: 15px;
    }
  }
}
