<div class="pipeline-body">
  <div class="pipeline-body-left">{{pipeline.name}}</div>
  <div class="pipeline-body-right">
    <!-- <div class="pipeline-body-right-title">
      <div class="pipeline-body-right-title-top">MySQL</div>
      <div class="pipeline-body-right-title-bottom">
        <div class="pipeline-body-right-title-bottom-database">
          <div class="pipeline-body-right-title-bottom-database-name">PostgreSQL</div>
            <fa-icon class="pipeline-body-right-title-bottom-database-dot" [icon]="faCircle"></fa-icon>
        </div>
        <div>Ingests every 15 minutes</div>
      </div>
    </div> -->
    <div class="pipeline-body-right-buttons">
      <div class="pipeline-body-right-active p-v-5 p-h-10" >Active</div>
      <app-button classes="p-v-5 p-h-10 font-13 button-white">
        <div>
          <fa-icon class="pipeline-body-right-buttons-pause-icon" [icon]="faCirclePause"></fa-icon>
        </div>
        <div>Pause</div>
      </app-button>
      <app-button classes="button-green p-v-5 p-h-10 font-13">View</app-button>
    </div>
  </div>
</div>
