@import "variables";

.pipeline-body {
  background-color: $white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.7rem 1rem 0.7rem 0.5rem;

  &-left {
    border-right: 1px solid $grey;
    font-weight: 600;
    font-size: 0.9rem;
    width: 7rem;
    min-width: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &-right {
    display: flex;
    flex-direction: row;
    padding: 0 0 0 1.5rem;
    font-size: 0.7rem;
    justify-content: space-between;
    // flex: auto;
    width: 100%;


    &-title {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;

      &-top {
        font-weight: 600;
      }

      &-bottom {
        display: flex;
        flex-direction: row;
        gap: 0.2rem;
        font-size: 10px;


        &-database {
          display: flex;
          flex-direction: row;
          gap: 0.1rem;
          color: $grey-color-text;

          &-name {
            display: flex;
            justify-content: center;
            align-items: center;
          }

          &-dot {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.2rem;
          }
        }
      }
    }

    &-active {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $light-green;
      color: $green;
      font-size: 13px;
      font-weight: 500;
    }

    &-buttons {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      cursor: default;

      &-pause-icon {
      }
    }
  }
}
