@import "variables";

.product-card {
  width: 100%;
  height: 100%;
  border: 1px solid $border-grey-2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: start;

  &:hover {
    background-color: $grey-line;
    cursor: pointer;
  }

  &.align-left .product-card-content {
    text-align: start;
    justify-content: end;
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 0 10px;
  }

  &-logo {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;

    .image {
      object-fit: contain;
    }
  }

  &-title {
    font-size: 14px;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &-description, &-footer {
    font-size: 10px;
    color: $grey-color-text;
    margin-bottom: 10px;
  }
}

.image-58 img {
  height: 58px;
  width: 58px;
}

.image-36 img {
  height: 36px;
  width: 36px;
}

.connection-card {
  background-color: $white;

  & img {
    height: 58px;
    width: 58px;
  }

  & .product-card-title {
    color: $black-2;
    margin-bottom: 6px;
  }

  & .product-card-description, .product-card-footer {
    color: $grey-color-text;
    font-weight: $font-regular;
    margin-bottom: 4px;
  }
}