// Font Variables
$poppins: 'Poppins', sans-serif;

// Font Weight Variables
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

// Screen Size Variables
$small: 480px;
$medium: 768px;

// Color Variables
$green: #00ba8b;
$black: #2c2c2c;
$black-2: #000000;
$grey-color-text: #919E9F;
$header-text-color: #31415f;
$bold-blue: #36496B;
$icons-button-color: #d8d8d8;
$input-label-color: #002224;
$input-label-grey: #939E9F;
$input-border-grey: #E2E4E8;
$sidebar-bg-color: #31415F;
$red: #dc3545;
$grey: #c6bebe;
$grey-line: #F2F2F2;
$white: #fff;
$orange: #F9A733;
$text-highlight: #f9a7332e;
$background-color: #f7f7f7;
$border-grey: #EBEBEB;
$border-grey-2: #E2E4E8;

$search-bar-bg-color: #f5f5f5;
$search-bar-outline-color: #e8e7e7;
$search-bar-icon-color: #a0a0a0;

$warning-background: #FFECB776;
$warning-text: #FFA700;
$failed-background: #FFB7B776;
$failed-text: #E82907;
$queued-purple: #B13FAE;
$failed-red: #FF0000;

$divider-grey: #BDBEC1;
$black-text: #3B3B3B;

// Hovering color
$hover-red: #bd2130;
$hover-grey: #aca8a8;
$hover-white: #6c757d;

// Button variables
$button-default-color: #D8D8D8;

$grey-bg: #F4F4F4