<div class="header-navbar-container">
  <div class="header-navbar-team-container">
    <div class="header-navbar-team">
      <div class="header-navbar-team-icon">T1</div>
      <div class="header-navbar-team-name">Team 1</div>
      <div
        class="header-navbar-team-arrow"
        (click)="handleTeamDropDown()"
      >
        >
      </div>
      <ng-container *ngIf="isTeamDropdownOpen">
        <ul class="header-navbar-team-dropdown-menu">
          <ng-container *ngFor="let team of teams">
            <li
              [class.header-navbar-team-selected]="
                team.id == currentChoosenTeam
              "
            >
              <div class="header-navbar-team-selection">
                <div class="header-navbar-team-selection-icon">T1</div>
                <div>{{ team.name }}</div>
              </div>
            </li>
          </ng-container>
        </ul>
      </ng-container>
    </div>
    <div class="header-navbar-team-settings">
      <div class="header-navbar-team-settings-icon-container">
        <fa-icon
          class="header-navbar-team-settings-icon"
          [icon]="faEllipsis"
          (click)="handleTeamSettingsDropDown()"
        ></fa-icon>
      </div>

      <ng-container *ngIf="isTeamDropdownSettingsOpen">
        <ul class="header-navbar-team-settings-dropdown-menu">
          <li [routerLink]="['/settings/team/members']">
            <div>Team Settings</div>
          </li>
          <li>
            <div>Join Team</div>
          </li>
          <li (click)="handleCreateTeam()">
            <div>Create Team</div>
          </li>
        </ul>
      </ng-container>
    </div>
  </div>
  <div class="header-navbar-bell-container">
    <div class="header-navbar-bell-component">
      <fa-icon [icon]="faBell"></fa-icon>
      <div class="header-navbar-bell-component-dot-container">
        <fa-icon
          class="header-navbar-bell-component-dot"
          [icon]="faCircle"
        ></fa-icon>
      </div>
    </div>
  </div>
  <div class="header-navbar-name">{{ name }}</div>
</div>
