@import 'variables';

.toggle-switch {
  position: relative;
  width: 44px;
  display: inline-block;
  text-align: left;

  &-checkbox {
    display: none;
  }

  &-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
  }

  &-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.2s ease-in 0s;

    &:before,
    &:after {
      float: left;
      width: 50%;
      height: 17px;
      line-height: 17px;
      padding: 0;
      color: $white;
      font-weight: bold;
      box-sizing: border-box;
    }

    &:before{
      content: "";
      padding-left: 10px;
      background-color: $green;
      color: $white;
    }

    &:after {
      content: "";
      padding-right: 10px;
      background-color: $input-label-grey;
      color: $white;
      text-align: right;
    }
  }

  &-switch {
    display: block;
    width: 17px;
    background: $white;
    position: absolute;
    top: -1px;
    bottom: -1px;
    right: 27px;
    border: 1px solid $input-label-grey;
    border-radius: 20px;
    transition: all 0.2s ease-in 0s;
  }

  &-checkbox:checked + &-label{
    .toggle-switch {
      &-inner {
        margin-left: 0;
      }

      &-switch {
        right: 0px;
        border: 1px solid $green;
      }
    }
  }

  &.small {
    width: 31px;

    & .toggle-switch-inner {
      &:before,
      &:after {
        height: 13px;
      }
    }

    & .toggle-switch-switch {
      width: 11px;
      top: 0px;
      bottom: 0px;
      right: 18px;
    }
  }
}