<div class="schema-mapper">
  <div class="schema-mapper-left">
    <app-general-left-sidebar></app-general-left-sidebar>
  </div>
  <div class="schema-mapper-right">
    <div class="schema-mapper-right-navbar">
      <app-header-navbar name="CM" [teams]="[]"></app-header-navbar>
    </div>
    <div class="schema-mapper-right-container">
      <div class="schema-mapper-right-container-header">
        <app-pipeline-dashboard-information
          [pipeline]="pipeline"
        ></app-pipeline-dashboard-information>
        <app-pipeline-dashboard-navbar></app-pipeline-dashboard-navbar>
      </div>

      <app-schema-mapper-navbar></app-schema-mapper-navbar>

      <div class="schema-mapper-right-container-body">
        <!-- TODO: Add content here -->
      </div>
    </div>
  </div>
</div>