<div class="configure-job">
  <app-configuration-topbar class="configure-job-topbar"
    (onBackClicked)="navigateToPreviousPage()"
    (onCancelClicked)="cancelProcess()"
  ></app-configuration-topbar>
  <div class="configure-job-content">
    <div class="configure-job-title">
      {{selectType === 'source'?
        constants.pipeline.createJob
        : constants.pipeline.selectJobDestination
      }}
    </div>
    <div class="configure-job-description">
      {{selectType === 'source'?
        constants.pipeline.jobSourceDescription
        : constants.pipeline.jobDestinationDescription
      }}
      <div class="configure-job-btn">
        <app-button
          classes="button-green font-12 text-bold"
          (click)="addNewConnection()"
          id="new-destination-btn">
          {{selectType === 'source'?
            constants.pipeline.addNewConnection
            : constants.pipeline.addNewDestination
          }}
        </app-button>
      </div>
    </div>

    <div class="configure-job-form" [formGroup]="configureJobFormGroup">
      <div class="configure-job-name" *ngIf="selectType === 'source'">
        <label for="job-name">{{constants.pipeline.jobName}}</label>
        <input id="job-name" name="job-name" type="text" formControlName="jobName" />
      </div>
      <div class="configure-job-products">
        <div class="configure-job-product" *ngFor="let connection of connections">
          <app-product-card
            classes="image-58 {{isSelected(connection.id)}}"
            [id]="'product-'+connection.id"
            [img]="getTypeImage(connection.connectionTypeName)"
            [title]="connection.connectionName"
            (onClick)="selectConnection(connection.id)">
          </app-product-card>
        </div>
      </div>
      <div class="configure-job-btn">
        <app-button
          classes="button-green font-16 text-bold"
          (click)="continueToNextStep()"
          [disabled]="selectedConnection === null"
          id="continue-btn">
          {{constants.global.continue}}
        </app-button>
      </div>
    </div>
  </div>
</div>
