<div class="pipeline-header-body">
  <div class="pipeline-header-body-option pipeline-header-body-header">
    <div class="pipeline-header-body-header-title">
      {{ CONSTANTS.pipeline.pipelines }}
    </div>
    <div class="pipeline-header-body-header-box">
      <app-button classes="button-green font-10 p-v-7 text-semibold" (click)="openPopup()">
        <fa-icon class="icon" [icon]="faPlus"></fa-icon>
       {{ CONSTANTS.pipeline.createNew }}
      </app-button>
    </div>
  </div>
  <div class="pipeline-header-body-option pipeline-header-body-desc">
    {{ CONSTANTS.pipeline.moveData }}
  </div>
  <div class="pipeline-header-body-option pipeline-header-body-search">
    <app-search-bar
      placeholder="{{ CONSTANTS.pipeline.searchPipelines }}"
    ></app-search-bar>
  </div>
  <div class="pipeline-header-body-option pipeline-header-body-filter">
    <div class="pipeline-header-body-filter-status">
      <div class="pipeline-header-body-filter-status-context">
        {{ CONSTANTS.pipeline.filter }}
      </div>
      <div>
        <fa-icon
          class="pipeline-header-body-filter-icon"
          [icon]="faFilter"
        ></fa-icon>
      </div>
    </div>
    <div>
      <fa-icon
        class="pipeline-header-body-filter-icon"
        [icon]="faRotateRight"
      ></fa-icon>
    </div>
  </div>
</div>
