@import "variables";

.pipeline-header-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0.5rem 2rem;
  gap: 10px;
  background-color: $white;
  height: 100%;

  &-option {
    width: 100%;
  }

  &-header {
    display: flex;
    flex-direction: row;
    gap: 20px;

    &-title {
      font-weight: $font-semibold;
      font-size: 25px;
    }

    &-box {
      width: 114px;
      height: 31px;

      .icon {
        margin-right: 8px;
      }
    }
  }

  &-desc {
    font-size: 13px;
    color: $divider-grey;
  }

  &-filter {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1em;
    font-size: 13px;

    &-status {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 0.2rem;
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }

      &-context {
        font-weight: bold;
      }
    }

    &-icon {
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
