@import 'variables';

.radio-button {
  display: flex;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 16px;
  height: 16px;
  padding: 0 8px;

  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }

  input[type="radio"] {
    visibility: hidden;
    position: absolute;
    left: -9999px;

    &:checked + span {
      &::before {
        box-shadow: inset 0 0 0 0.27rem $green;
      }
    }
  }

  span {
    display: flex;
    align-items: center;
    border-radius: 99em;
    transition: 0.25s ease;

    &:before {
      display: flex;
      content: "";
      background-color: $white;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      transition: 0.25s ease;
      box-shadow: inset 0 0 0 1px rgba($header-text-color, 0.545);
    }

    &:hover {
      &:before {
        box-shadow: inset 0 0 0 1px $green;
      }
    }
  }
}