<div class="schema-mapper">
  <div class="schema-mapper-left">
    <app-general-left-sidebar></app-general-left-sidebar>
  </div>
  <div class="schema-mapper-right">
    <div class="schema-mapper-right-navbar">
      <app-header-navbar name="CM" [teams]="[]"></app-header-navbar>
    </div>
    <div class="schema-mapper-right-container">
      <div class="schema-mapper-right-container-header">
        <!-- TODO: Add pipeline info header and pipeline navbar  -->
      </div>
      <div class="schema-mapper-right-container-toggle">
        <app-toggle-switch [isChecked]="autoMappingChecked" classes="small" name="autoMapping" (switchToggled)="autoMappingToggled($event)"></app-toggle-switch>
        {{constants.schemaMapper.autoMapping}}
        <div class="schema-mapper-right-container-toggle-description">
          {{constants.schemaMapper.autoMappingDescription}}
        </div>
      </div>
      <app-schema-mapper-create-table></app-schema-mapper-create-table>
      <app-schema-mapper-table [rows]="mappingFields"></app-schema-mapper-table>
    </div>
  </div>
</div>