<div class="events-dropdown">
  <div class="events-dropdown-header">
    {{totalEvents}} {{constants.loadStatus.eventsFound}}
    <div class="events-dropdown-button-containers">
      <div class="events-dropdown-buttons">
        <div class="events-dropdown-button">
          <app-button classes="button-outline text-medium font-10 padding-0" (click)="skipAllEvents()" id="skipAll">
            {{constants.loadStatus.skipAll}}
          </app-button>
        </div>
        <div class="events-dropdown-button">
          <app-button classes="button-green text-medium font-10 padding-0" (click)="rerunAllEvents()" id="rerunAll">
            {{constants.loadStatus.rerunAll}}
          </app-button>
        </div>
      </div>
      <div class="events-dropdown-divider"></div>
      <div class="events-dropdown-icons">
        <app-expanding-search-bar></app-expanding-search-bar>
        <fa-icon [icon]="faArrowRotateRight" (click)="refresh()" class="icon" id="refresh"></fa-icon>
        <fa-icon [icon]="faEllipsisVertical" class="icon"></fa-icon>
      </div>
    </div>
  </div>
  <div class="events-dropdown-results">
    <div class="events-dropdown-results-header">
      <div class="events-dropdown-results-type">{{constants.loadStatus.eventType}}</div>
      <div class="events-dropdown-results-replay">{{constants.loadStatus.eventsReplayQueue}}</div>
      <div class="events-dropdown-results-error">{{constants.loadStatus.typesError}}</div>
    </div>
    <div class="events-dropdown-content">
      <ng-content></ng-content>
    </div>
  </div>
</div>
