@import 'variables';

.log-in {
  display: flex;
  align-items: center;
  justify-content: center;

  &-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1160px;
    height: 100vh;
  }

  &-left-container {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;

    &-img {
      height: 80%;
      width: 80%;
    }

    @media screen and (max-width: $small) {
      display: none;
    }
  }

  &-right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    flex: 0.5;

    @media screen and (max-width: $small) {
      flex: 1;
      width: 350px;
    }
  }

  &-right {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: $small) {
      width: 100%;
    }
  }

  &-welcome {
    font-size: 31px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    font-family: "Hellix-SemiBold", serif;

    @media screen and (max-width: $small) {
      font-size: 27px;
    }
  }

  &-file-transform-text {
    color: $green;
  }

  &-no-acc {
    font-size: 14px;
    font-weight: normal;
    margin: 25px 0 35px 0;
    font-family: "Merriweather Sans", sans-serif;
    color: $black;
  }

  &-sign-up-text {
    color: $green;
    padding-left: 8px;

    &:hover {
      opacity: 0.8;
      cursor: pointer
    }
  }

  &-form {
    width: 100%;
  }

  &-field {
    width: 100%;
    padding: 10px 0 10px 0;
  }

  &-lable {
    font-size: 15px;
    padding-bottom: 10px;
    font-family: "Hellix-Regular", serif;
    color: $input-label-color;
  }

  &-input-field {
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    border: 1px solid $green;
    border-radius: 3px;
    padding: 0 10px 0 10px;
    font-family: "Hind", sans-serif;

    &:focus-visible {
      outline: 1px solid $green;
    }
  }

  &-forgot {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    padding: 10px 0 10px 0;
    font-family: "Hellix-Medium", serif;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  &-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0 20px 0;
  }

  @media screen and (max-width: $small) {
    flex-direction: column-reverse;
  }

  &-submit {

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }

  &-icon-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  &-icon {
    border-radius: 2px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $icons-button-color;
    padding: 12px 0 12px 0;

    &-google {
      width: 26px;
      height: 26px;
    }

    &-apple {
      width: 25px;
      height: 28px;
    }

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
}
