<div class="pipeline-dashboard-navbar">
  <ng-container *ngFor="let option of options">
    <div
      class="pipeline-dashboard-option"
      [class.pipeline-dashboard-option-selected]="
        option.navigate === selectedOption
      "
      [routerLink]="[
        '/pipeline',
        userId,
        option.navigate
      ]"
    >
      <div class="pipeline-dashboard-option-icon-container">
        <img class="pipeline-dashboard-option-icon" [src]="option.icon" />
      </div>
      <div class="pipeline-dashboard-option-title">{{ option.title }}</div>
    </div>
  </ng-container>
</div>
