@import 'variables';

.select-source {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  background-color: $white;
  scroll-behavior: smooth;

  &-container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  &-topbar {
    width: 100%;
    display: flex;
    justify-content: end;

    &-container {
      padding: 20px 40px;
    }
  }

  &-cancel-btn {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    display: flex;
    align-items: center;
    height: 22px;
    background-color: transparent;
    border: none;
    border-left: 1px solid $header-text-color;
    color: $header-text-color;
    font-weight: 500;

    &:hover {
      cursor: pointer;
    }
  }

  &-header {
    font-weight: 600;
    font-size: 20px;
    padding-top: 15px;
    flex: 1;
  }

  &-search {
    width: 80%;

    &-container {
      display: flex;
      flex-direction: row;
      position: sticky;
      top: 0;
      background: $white;
      width: 100%;
    }
  }

  &-left {
    margin-top: -85px;
    width: 225px;
    min-width: 225px;

    &-container {
      padding-top: 85px;
      display: flex;
      flex-direction: column;
      position: sticky;
      top: 0;

      &-scroll {
        position: sticky;
        top: 0;
        bottom: 0;
        height: calc(100vh - 5.3rem);
        display: flex;
        flex-direction: column;
        border-right: 2px solid $border-grey;

        &-height {
          overflow-y: scroll;
          overscroll-behavior: contain;
          scrollbar-color: $border-grey transparent;

          &::-webkit-scrollbar {
            background-color: transparent;
            width: 7px;
          }

          &::-webkit-scrollbar-thumb {
            background: $border-grey;
            border-radius:15px;
          }
        }
      }
    }
  }

  &-left-width {
    width: 225px;
  }

  &-nav {
    position: sticky;
    top: 0;

    &-bottom {
      height: 5rem;
    }
  }

  &-ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &-category-btn {
    display: flex;
    align-items: center;
    padding: 9px 17px;
    height: 20px;
    color: $grey-color-text;
    font-size: 14px;

    &:hover {
      background: $grey-bg;
      cursor: pointer;
    }

    &:active {
      background-color: $grey-bg;
      color: $green;
    }
  }

  &-right {
    width: 90%;

    &-container {
      width: 80%;
    }
  }

  &-categories {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 35px 0;
  }

  &-category {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    gap: 10px;

    &:target {
      padding-top: 90px;
      margin-top: -90px;
    }

    &-title {
      color: #7B919B;
      font-size: 18px;
      font-weight: 500;
    }

    &-group {
      display: flex;
      flex-wrap: wrap;
      gap: 18px;
    }

    &-link {
      text-decoration: none;
    }
  }

  &-option {
    width: 120px;
    height: 120px;
  }

  &-view-all {
    display: flex;
    justify-content: center;
  }

  &-btn {
    padding: 4px 22px;
    border: 1px solid #CDD2D3;
    border-radius: 14px;
    height: 27px;
    color: $green;
    background: $white 0% 0% no-repeat padding-box;

    &:hover {
      cursor: pointer;
      background-color: $grey-line;
    }
  }

  &-nav-icon {
    fill: $bold-blue;
    margin-right: 8px;
  }
}
