@import "variables";

.pipeline {
  display: flex;
  flex-direction: row;

  &-left {
    flex: 4rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh;
    width: 10px;
    background-color: yellow;
  }

  &-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-top {
      height: 10rem;

      &-navbar {
        background-color: red;
        height: 2rem;
      }

      &-body {
        background-color: blue;
        height: calc(100% - 2rem);
      }
    }

    &-body {
      background-color: green;
      margin: 0 10px;
    }
  }
}
