<div class="configure-connection">
  <div class="configure-connection-topbar">
    <div class="configure-connection-topbar-container">
      <button class='configure-connection-cancel-btn' (click)="navigateToPreviousPage()">
        <fa-icon class="configure-connection-nav-icon" [icon]="faArrowLeft"></fa-icon>
        {{ constants.global.back }}
      </button>
      <button class='configure-connection-cancel-btn' (click)="cancelProcess()">
        <fa-icon class="configure-connection-nav-icon" [icon]="faXmark"></fa-icon>
        {{ constants.global.cancel }}
      </button>
    </div>
  </div>

  <div class="configure-connection-content">
    <div class="configure-connection-title">
        {{constants.configureConnection.title}}
    </div>
    <div class="configure-connection-description">
      {{constants.configureConnection.description1}}
      <span class="configure-connection-type-name"> {{typeName}} </span>
      {{constants.configureConnection.description2}}
      <span class="configure-connection-dropdown-text">
        {{constants.configureConnection.existingConnections}}
        <fa-icon class="configure-connection-nav-icon" [icon]="faChevronDown"></fa-icon>
      </span>
    </div>

    <div class="configure-connection-form" [formGroup]="configureSourceFormGroup">
      <div class="configure-connection-fields">

        <!-- Pipeline field -->
        <div class="configure-connection-field-pipeline">
          <input
            class="configure-connection-input-field"
            id="connection-name"
            type="text"
            name="connection-name"
            formControlName="connectionName"
          />
          <div class="configure-connection-label">
            <label
              htmlFor="connection-name">
                {{constants.configureConnection.connectionName}}
            </label>
          </div>
        </div>

        <!-- Database Host -->
        <div class="configure-connection-field">
          <input
            class="configure-connection-input-field"
            id="database-host"
            type="text"
            name="database-host"
            formControlName="databaseHost"
          />
          <div class="configure-connection-label">
            <label
              htmlFor="database-host">
                {{constants.configureConnection.databaseHost}}
            </label>
            <div>
              <fa-icon class="configure-connection-icon" [icon]="faCircleInfo"></fa-icon>
            </div>
          </div>
        </div>

        <!-- Database Port -->
        <div class="configure-connection-field">
          <input
            class="configure-connection-input-field"
            id="database-port"
            type="number"
            name="database-port"
            formControlName="databasePort"
          />
          <div class="configure-connection-label">
            <label
              htmlFor="database-port">
                {{constants.configureConnection.databasePort}}
            </label>
            <div>
              <fa-icon class="configure-connection-icon" [icon]="faCircleInfo"></fa-icon>
            </div>
          </div>
        </div>

        <!-- Database User -->
        <div class="configure-connection-field">
          <input
            class="configure-connection-input-field"
            id="database-user"
            type="text"
            name="database-user"
            formControlName="databaseUser"
          />
          <div class="configure-connection-label">
            <label
              htmlFor="database-user">
                {{constants.configureConnection.databaseUser}}
            </label>
            <div>
              <fa-icon class="configure-connection-icon" [icon]="faCircleInfo"></fa-icon>
            </div>
          </div>
        </div>

        <!-- Database Password -->
        <div class="configure-connection-field">
          <input
            class="configure-connection-input-field"
            id="database-password"
            type="password"
            name="database-password"
            formControlName="databasePassword"
          />
          <div class="configure-connection-label">
            <label
              htmlFor="database-password">
                {{constants.configureConnection.databasePassword}}
            </label>
            <div>
              <fa-icon class="configure-connection-icon" [icon]="faCircleInfo"></fa-icon>
            </div>
          </div>
        </div>

        <!-- Auth DB Name -->
        <div class="configure-connection-field">
          <input
            class="configure-connection-input-field"
            id="auth-db-name"
            type="text"
            name="auth-db-name"
            formControlName="databaseName"
          />
          <div class="configure-connection-label">
            <label
              htmlFor="auth-db-name">
                {{constants.configureConnection.databaseName}}
            </label>
            <div>
              <fa-icon class="configure-connection-icon" [icon]="faCircleInfo"></fa-icon>
            </div>
          </div>
        </div>
      </div>

      <div class="configure-connection-access-text">
        {{constants.configureConnection.openAccess}}
        <span class="configure-connection-highlighted">
          {{constants.configureConnection.ipAddress}}
        </span>
      </div>

      <div class="configure-connection-switch">
        <app-toggle-switch
          name="ssh-connection"
          [isChecked]="sshConnection"
          (switchToggled)="sshConnectionToggled(!sshConnection)">
        </app-toggle-switch>
        <div class="configure-connection-switch-text">
          <div>{{constants.configureConnection.SSHconnection.title}}</div>
          <div class="configure-connection-switch-description">{{constants.configureConnection.SSHconnection.description}}</div>
        </div>
      </div>
      <div class="configure-connection-buttons">
        <div class="configure-connection-btn">
          <app-button
            classes="button-orange text-bold"
            id="test-connection"
            type="button"
            (click)="testSourceConnection()"
          >
          {{constants.configureConnection.testConnection}}
          </app-button>
        </div>
        <div class="configure-connection-btn">
          <app-button
            id="test-continue"
            classes="button-green text-bold"
            type="button"
            (click)="testAndContinue()"
            [disabled]="configureSourceFormGroup.invalid"
            [isRunning]="isContinueRunning"
          >
            {{constants.configureConnection.testContinue}}
          </app-button>
        </div>
      </div>
    </div>
  </div>
</div>
