@import 'variables';

.landing-page {
  display: flex;
  align-items: center;
  justify-content: center;

  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px 120px 0 120px;
    max-width: 1160px;
  }

  &-icon {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    width: 100%;
    float: left;

    &-img {
      display: block;
      height: 75px;
      width: 240px;
    }
  }

  &-intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }

  &-intro-left {
    display: flex;
    flex: 0.4;
    justify-content: left;
    flex-direction: column;
  }

  &-intro-header {
    font-size: 53px;
    color: $header-text-color;
    font-family: "Hellix-Medium", serif;

    &-data {
      color: #00ba8b;
    }
  }

  &-intro-desc {
    font-size: 16px;
    width: 70%;
    color: $grey-color-text;
    padding: 23px 0 25px 0;
  }

  &-intro-button {
    width: 55%;

    &:hover {
      opacity: 0.8
    }
  }

  &-intro-right {

    display: flex;
    flex: 0.6;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/images/Landing-page-background.png");
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: 95%;
    z-index: -1;

    & img {
      position: relative;
      z-index: 1;
    }

    &-img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &-overview-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    border-bottom: 2px solid #ebebeb;
    width: 100%;
    padding: 250px 0 150px 0;
  }

  &-overview-top {
    flex: 0.4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;

    &-text {
      color: $green;
      font-size: 20px;
      font-weight: 600;
      font-family: "Hellix-SemiBold", serif;
    }
  }

  &-overview-bottom {
    flex: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $grey-color-text;
    flex-direction: row;
    margin-left: 40px;

    &-overview {
      color: $header-text-color;
      font-family: "Hellix-SemiBold", serif;
      font-size: 43px;
      font-weight: 600;
      flex: 0.4;
    }

    &-desc {
      font-size: 18px;
      flex: 0.6;
      line-height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;

      &-text {
        display: flex;
        width: 80%;
        justify-content: left;
      }
    }
  }

  &-benefit {
    display: flex;
    flex-direction: column;
    justify-content: left;

    &-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 100px 0 100px 0;
      gap: 100px;
    }

    &-top {
      border-right: 2px solid $green;
    }

    &:last-child &-top {
      border-right: none;
    }

    &-top-img-container {
      height: 160px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    &-top-img-1 {
      display: block;
      width: 210px;
      height: 120px;
    }

    &-top-img-2 {
      display: block;
      width: 235px;
      height: 170px;
    }

    &-top-img-3 {
      display: block;
      width: 170px;
      height: 140px;
    }
  }

  &-benefits {

    &-header {
      font-family: "Hellix-SemiBold", serif;
      color: $green;
      font-size: 22px;
      font-weight: 600;
      padding: 30px 0 30px 0;
    }

    &-desc {
      color: $black-2;
      width: 80%;
      font-size: 14px;
      font-weight: normal;
      line-height: 20px;
    }
  }

  &-ui {

    &-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
    }

    &-title {
      display: flex;
      align-items: center;
      justify-content: left;
      width: 100%;
      color: $green;
      font-size: 20px;
      font-weight: 600;
      font-family: "Hellix-SemiBold", serif;
    }

    &-desc {
      display: flex;
      align-items: center;
      justify-content: left;
      width: 100%;
      color: $header-text-color;
      font-size: 43px;
      padding: 20px 0 0 40px;
      font-family: "Hellix-SemiBold", serif;
    }

    &-img {
      display: block;
      width: 100%;
      height: 100%;

      &-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        padding: 50px 0 100px 0;
      }
    }
  }
}
