<div class="landing-page">
  <div class="landing-page-container">
    <div class="landing-page-icon">
      <img
        class="landing-page-icon-img"
        src="assets/images/File Transform Logo.png"
        alt="Logo"
      />
    </div>
    <div class="landing-page-intro-container">
      <div class="landing-page-intro-left">
        <div class="landing-page-intro-header">
          {{ constants.home.intro.header.systemic }}
          <span class="landing-page-intro-header-data">
            {{ constants.home.intro.header.data }}
              </span>{{ constants.home.intro.header.deployment }}
        </div>
        <div class="landing-page-intro-desc">
          {{ constants.home.intro.description }}
        </div>
        <div class="landing-page-intro-button">
          <app-button classes="button button-green" (click)="getStarted()">
            {{ constants.home.intro.button }}
          </app-button>
        </div>
      </div>
      <div class="landing-page-intro-right">
        <img
          class="landing-page-intro-right-img"
          src="assets/images/Laptop.png"
          alt="Laptop"
        />
      </div>
    </div>
    <div class="landing-page-overview-container">
      <div class="landing-page-overview-top">
        <div class="landing-page-overview-top-text">
          {{ constants.home.overview.introduction }}
        </div>
      </div>
      <div class="landing-page-overview-bottom">
        <div class="landing-page-overview-bottom-overview">
          {{ constants.home.overview.overview }}
        </div>
        <div class="landing-page-overview-bottom-desc">
          <div class="landing-page-overview-bottom-desc-text">
            {{ constants.home.overview.description }}
          </div>
        </div>
      </div>
    </div>
    <div class="landing-page-benefit-container">
      <div class="landing-page-benefit" *ngFor="let benefit of constants.home.benefits">
        <div class="landing-page-benefit-top">
          <div class="landing-page-benefit-top-img-container">
            <img
              [src]="benefit.img"
              [alt]="benefit.header"
              [class]="'landing-page-benefit-top-img-' + benefit.id"
            />
          </div>
          <div class="landing-page-benefits-header">
            {{benefit.header}}
          </div>
        </div>

        <div class="landing-page-benefits-desc">{{benefit.desc}}</div>
      </div>
    </div>
    <div class="landing-page-ui-container">
      <div class="landing-page-ui-title">
        Data-friendly
      </div>
      <div class="landing-page-ui-desc">
        Seamless UI
      </div>
      <div class="landing-page-ui-img-container">
        <img
          src="assets/images/Component 51 – 1.png"
          alt="Seamless-UI"
          class="landing-page-ui-img"
        />
      </div>
    </div>
  </div>
</div>
