@import 'variables';

.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;

  &-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1160px;
    margin: 4rem 0 4rem 0;
    // height: 100vh;
  }

  &-left-container {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 80%;
      width: 80%;
    }

    @media screen and (max-width: $small) {
      display: none;
    }
  }

  &-right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0.5;

    @media screen and (max-width: $small) {
      flex: 1;
      width: 350px;
    }
  }

  &-right {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: $small) {
      width: 100%;
    }
  }

  &-welcome {
    font-size: 31px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    font-family: 'Hellix-SemiBold', serif;
  }

  &-no-acc {
    font-size: 14px;
    font-weight: normal;
    margin: 28px 0 35px 0;
    font-family: "Merriweather Sans", sans-serif;
    color: $black;
    padding-left: 15px;
  }

  &-sign-up-text {
    color: $green;
    padding-left: 11px;

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }

  &-form {
    width: 100%;
  }

  &-field {
    width: 100%;
    padding: 10px 0 10px 0;

    &-error {
      color: red;
      font-size: 15px;
    }
  }

  &-lable {
    font-size: 15px;
    padding-bottom: 10px;
    font-family: "Hellix-Regular", serif;
    color: $input-label-color;
  }

  &-input-field {
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    border: 1px solid $green;
    border-radius: 3px;
    padding: 0 10px 0 10px;
    font-family: "Hind", sans-serif;

    &:focus-visible {
      outline: 1px solid $green;
    }

    &-invalid {
        border: 1px solid $red;

        &:focus-visible {
          outline: none
        }
    }
  }

  &-forgot {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    padding: 10px 0 10px 0;
    font-family: "Hellix-Medium", serif;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  &-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0 20px 0;

    @media screen and (max-width: $small) {
      flex-direction: column-reverse;
    }
  }

  &-submit {
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }

  &-icon-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  &-icon {
    border-radius: 2px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $icons-button-color;
    padding: 12px 0 12px 0;

    img {
      width: 20%;
      aspect-ratio: 4/3;
      object-fit: contain;
    }

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
}
