<div class="team-members">
  <div class="team-members-left">
    <app-general-left-sidebar></app-general-left-sidebar>
  </div>
  <div class="team-members-right">
    <app-header-navbar name="CM" [teams]="teams"></app-header-navbar>
    <div class="team-members-header">
      <div class="team-members-header-info">
        <div class="team-members-header-info-picture">
          <!-- TODO: Change with team name initials and info -->
          CM
        </div>
        <div class="team-members-header-info-text">
          <div class="team-members-header-info-text-title">
            {{constants.teams.teamMembers}}
            <fa-icon class="team-members-icon" [icon]="faEllipsisH"></fa-icon>
          </div>
          <div class="team-members-header-info-text-description">Team1</div>
        </div>
      </div>
      <div class="team-members-header-tabs">
        <div class="tab active">
          {{constants.teams.members}}
        </div>
        <div class="tab">
          {{constants.teams.analytics}}
        </div>
        <div class="tab">
          {{constants.global.settings}}
        </div>
      </div>
    </div>
    <div class="team-members-body">
      <div class="team-members-body-title">{{constants.teams.name}}</div>
      <div class="team-members-body-container">
        <!-- TODO: Change with team's members information -->
        <div class="member-card" *ngFor="let number of [0,1,2,3,4, 5, 6, 7, 8, 9, 1]">
          <div class="member-card-picture">
            AZ
          </div>
          <div class="member-card-name">Amanda Zhang</div>
          <fa-icon class="team-members-icon" [icon]="faEllipsisV"></fa-icon>
        </div>
      </div>
    </div>
  </div>
</div>
