@import "variables";

.team-members {
  display: flex;
  flex-direction: row;

  &-left {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh;
  }

  &-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &-header {
    background-color: $white;
    padding: 0px 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.7rem;

    &-info {
      display: flex;
      gap: 10px;

      &-picture {
        height: 65px;
        width: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $blue;
        color: $white;
      }

      &-text {
        &-title {
          font-size: 25px;
          font-weight: $font-semibold;
          display: flex;
          align-items: center;
        }

        &-description {
          font-size: 13px;
          color: $grey-color-text;
        }
      }
    }

    &-tabs {
      display: flex;
      background-color: $white;
      gap: 3rem;

      & .tab {
        font-size: 1rem;
        font-weight: $font-regular;
        color: $grey-color-text;
        padding: 2px 0.8rem;
        cursor: pointer;

        &.active {
          color: $green;
          border-bottom: 2px solid $green;
        }
      }
    }
  }

  &-body {
    padding: 2rem;

    &-title {
      font-size: 14px;
      color: $grey-color-text;
      font-weight: $font-medium;
      padding: 0 0.8rem;
      margin-bottom: 0.625rem;
    }

    &-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.5rem;

      & .member-card {
        display: flex;
        align-items: center;
        gap: 8px;
        background-color: $white;
        padding: 1rem 0.8rem;
        width: 48%;
        box-sizing: border-box;

        &-picture {
          height: 35px;
          width: 35px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $blue;
          color: $white;
          font-size: 14px;
        }

        &-name {
          flex-grow: 1;
          font-size: 11px;
          font-weight: $font-medium;
        }
      }
    }
  }

  &-icon {
    margin-left: 8px;
    height: 1em;
    width: 1em;
    display: inline-flex;
    justify-content: end;
    align-items: center;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }

}