<div class="sign-up">
  <div class="sign-up-container">
    <div class="sign-up-left-container">
      <img
        [src]="constants.registration.leftBackground"
        alt="landing-background"
      />
    </div>
    <div class="sign-up-right-container">
      <div class="sign-up-right">
        <div class="sign-up-welcome">
          <div>{{ constants.registration.createAccount }}</div>
        </div>
        <div class="sign-up-no-acc">
          {{ constants.registration.hasAccount }}
          <a class="sign-up-sign-up-text" [routerLink]="['/auth/login']">
            {{ constants.registration.signIn }}
          </a>
        </div>
        <div class="sign-up-form" [formGroup]="registrationFormGroup">
          <div class="sign-up-field">
            <div class="sign-up-lable">
              <label>{{ constants.registration.form.name }}</label>
            </div>
            <div>
              <input
                class="sign-up-input-field"
                id="name"
                type="text"
                name="name"
                formControlName="name"
                [class.sign-up-input-field-invalid]="
                  validateTitleControl('name')
                "
              />
            </div>
            <div
              class="sign-up-field-error"
              *ngIf="validateTitleControl('name')"
            >
              {{ nameError }}
            </div>
          </div>
          <div class="sign-up-field">
            <div class="sign-up-lable">
              <label>{{ constants.registration.form.email }}</label>
            </div>
            <div>
              <input
                class="sign-up-input-field"
                id="email"
                type="email"
                name="email"
                formControlName="email"
                [class.sign-up-input-field-invalid]="
                  validateTitleControl('email')
                "
              />
            </div>

            <div
              class="sign-up-field-error"
              *ngIf="validateTitleControl('email')"
            >
              {{ emailError }}
            </div>
          </div>
          <div class="sign-up-field">
            <div class="sign-up-lable">
              <label>{{ constants.registration.form.password }}</label>
            </div>
            <div>
              <input
                class="sign-up-input-field"
                id="password"
                type="password"
                name="password"
                formControlName="password"
                [class.sign-up-input-field-invalid]="
                  validateTitleControl('password')
                "
              />
            </div>
            <div
              class="sign-up-field-error"
              *ngIf="validateTitleControl('password')"
            >
              {{ passwordError }}
            </div>
          </div>
          <div class="sign-up-field">
            <div class="sign-up-lable">
              <label>{{ constants.registration.form.confirmPassword }}</label>
            </div>
            <div>
              <input
                class="sign-up-input-field"
                id="confirm-password"
                type="password"
                name="confirm-password"
                formControlName="confirmPassword"
                [class.sign-up-input-field-invalid]="
                  validateTitleControl('confirmPassword')
                "
              />
            </div>
            <div
              class="sign-up-field-error"
              *ngIf="validateTitleControl('confirmPassword')"
            >
              {{ confirmPasswordError }}
            </div>
          </div>
        </div>
        <div class="sign-up-buttons">
          <div class="sign-up-submit">
            <app-button
              classes="button button-green"
              [isRunning]="isRunning"
              [disabled]="registrationFormGroup.invalid"
              (click)="handleRegistration()"
            >
              {{ constants.registration.form.button }}
            </app-button>
          </div>
          <div class="sign-up-icon-container">
            <div class="sign-up-icon">
              <img
                [src]="constants.registration.googleIcon"
                alt="google-icon"
              />
            </div>
            <div class="sign-up-icon">
              <img [src]="constants.registration.appleIcon" alt="apple-icon" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
