<div class="connection">
  <div class="connection-left">
    <app-general-left-sidebar></app-general-left-sidebar>
  </div>
  <div class="connection-right">
    <div class="connection-right-top">
      <div class="connection-right-top-navbar">
        <!-- TODO: Add navbar -->
      </div>
      <div class="connection-right-top-body">
        <div class="connection-header-title">
          <div class="title">{{constants.connection.title}}</div>
          <div class="connection-header-btn">
            <app-button classes="button-green font-10 text-semibold p-v-7" (click)="navigateToSelectConnection()">
              <fa-icon [icon]="faPlus" class="icon"></fa-icon>
              {{constants.global.createNew}}
            </app-button>
          </div>
        </div>
        <div class="connection-header-description">{{constants.connection.description}}</div>
        <div class="connection-filters">
          <div class="filter" (click)="filterConnections()">
            {{constants.global.filter}}
            <fa-icon [icon]="faFilter"></fa-icon>
          </div>
          <fa-icon [icon]="faRotateRight" class="filter" (click)="refreshConnections()"></fa-icon>
        </div>
      </div>
    </div>
    <div class="connection-right-body">
      <ng-container *ngIf="connections.length > 0; else noConnections">
        <div class="connection-cards">
          <div class="connection-card" *ngFor="let connection of connections">
            <app-product-card
              [img]="getConnectionImage(connection.connectionTypeName)"
              [title]="connection.connectionName"
              description="Source: {{connection.connectionTypeName}}"
              footer="Created {{getDate(connection.createdAt)}}"
              classes="connection-card"
            ></app-product-card>
          </div>
        </div>
      </ng-container>
      <ng-template #noConnections>
        <div class="no-connections">
          <div class="no-connections-image">
            <img src="assets/images/PuzzlePieces.svg" alt="Puzzle Pieces">
          </div>
          <div class="no-connections-title">
            {{constants.connection.noConnectionsFound.toUpperCase()}}
          </div>
          <div class="no-connections-description font-14">
            {{constants.connection.noConnectionsFound}}, <span class="link" (click)="navigateToSelectConnection()">{{constants.global.createNew}}</span>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
