/* You can add global styles to this file, and also import other style files */
@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Hind&family=Merriweather+Sans&family=Poppins:wght@400;500;600&display=swap");

body {
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-color;
}

@font-face {
  font-family: "Hellix-Medium";
  src: url("assets/fonts/hellix-font/Hellix-Medium.ttf");
}

@font-face {
  font-family: "Hellix-SemiBold";
  src: url("assets/fonts/hellix-font/Hellix-SemiBold.ttf");
}

@font-face {
  font-family: "Hellix-Regular";
  src: url("assets/fonts/hellix-font/Hellix-Regular.ttf");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.text-bold {
  font-weight: bold !important;
}
.text-semibold {
  font-weight: $font-semibold !important;
}
.text-medium {
  font-weight: 500 !important;
}
.font-16 {
  font-size: 16px !important;
}
.font-15 {
  font-size: 15px !important;
}
.font-14 {
  font-size: 14px !important;
}
.font-13 {
  font-size: 13px !important;
}
.font-12 {
  font-size: 12px !important;
}
.font-11 {
  font-size: 11px !important;
}
.font-10 {
  font-size: 10px !important;
}
.h-100 {
  height: 100% !important;
}
.w-100 {
  width: 100% !important;
}

.p-v-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.p-h-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.p-v-7 {
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}

.p-h-7 {
  padding-left: 7px !important;
  padding-right: 7px !important;
}

.p-v-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.p-h-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.p-h-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
