@import 'variables';

.topbar {
  &-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 14px;
  }

  &-navigation {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: $medium) {
      display: none;
    }
  }

  &-top-btn {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    display: flex;
    align-items: center;
    height: 22px;
    background-color: transparent;
    border: none;
    border-left: 1px solid $header-text-color;
    color: $header-text-color;
    font-weight: 500;
    cursor: pointer;
  }

  &-nav-icon {
    fill: $bold-blue;
    margin-right: 8px;
  }
}