<!-- <div class="forgot-password">

  <div class="forgot-password-left">
    <div class="forgot-password-left-container">
      <img
        [src]="constants.forgotPassword.questionMarks.img"
        [alt]="constants.forgotPassword.questionMarks.alt"
        class="forgot-password-left-image"
      />
    </div>
  </div>

  <div class="forgot-password-right">
    <div class="forgot-password-right-container">
      <div class="forgot-password-title">{{constants.forgotPassword.forgotPassword}}</div>
      <div class="forgot-password-description">{{constants.forgotPassword.description}}</div>
      <div class="forgot-password-form" [formGroup]="forgotPasswordGroup">
        <div class="forgot-password-email">
          <label htmlFor="email">{{constants.forgotPassword.email}}</label>
          <input
            class="forgot-password-input"
            id="email"
            type="text"
            name="email"
            formControlName="email"
          />
        </div>
        <div class="forgot-password-button">
          <app-button
            (click)="handleReset()"
            classes="button button-green"
            [disabled]="forgotPasswordGroup.invalid"
            >
            {{constants.forgotPassword.resetPassword}}
          </app-button>
        </div>
        <div class="forgot-password-back" (click)="handleBackToLogin()" >
          <fa-icon class="forgot-password-icon" [icon]="faArrowLeft"></fa-icon>
          {{constants.forgotPassword.backToLogin}}
        </div>
      </div>
    </div>
  </div>

</div> -->
