@import 'variables';

.overview {
  box-sizing: border-box;
  padding: 22px 32px;
  height: 100vh;
  background-color: $text-area;

  &-job {
    &-container {
      &-header {
        color: $grey-color-text;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        font-weight: $font-medium;
        gap: 15px;
        padding: 6px 10px;

        & .checkbox {
          flex-shrink: 0;
        }

        & .jobs {
          flex: 0.7;
        }

        & .message {
          flex: 0.4;
        }

        & .events-ingested {
          flex: 0.6;
          text-align: center;
        }

        & .buttons {
          flex: 1.9;
          display: flex;
          justify-content: flex-end;
          gap: 16px;

          & .icon {
            cursor: pointer;

            &:hover {
              opacity: 0.7;
            }
          }

          & .create-job {
            width: 80px;
          }
        }
      }

      &-body {
        display: flex;
        flex-direction: column;
        gap: 6px;
      }
    }
  }
}