<div class="overview">
  <div class="overview-left">
    <app-general-left-sidebar></app-general-left-sidebar>
  </div>
  <div class="overview-right">
    <div class="overview-right-top">
      <app-header-navbar
        name="CM"
        [teams]="teams"
        (createTeamEvent)="showCreateTeamModal = true"
      ></app-header-navbar>
    </div>
    <div class="overview-right-body">
      <div class="overview-right-body-top">
        <app-pipeline-dashboard-information
          [pipeline]="pipeline"
        ></app-pipeline-dashboard-information>
        <app-pipeline-dashboard-navbar></app-pipeline-dashboard-navbar>
      </div>
      <div class="overview-right-body-bottom">
        <div class="overview-right-body-bottom-header">
          <div class="checkbox">
            <app-checkbox></app-checkbox>
          </div>
          <div class="jobs">{{constants.pipeline.overview.jobs}}</div>
          <div class="message"></div>
          <div class="events-ingested">{{constants.pipeline.overview.eventsIngested}}</div>
          <div class="graph"></div>
          <div class="event-message"></div>
          <div class="status"></div>
          <div class="buttons">
            <div class="create-job">
              <app-button classes="button-green font-10 p-v-5 p-h-10" (click)="goToConfigureJob()">
                {{constants.pipeline.createJob}}
              </app-button>
            </div>
            <div class="filter icon">
              {{constants.global.filter}}
              <fa-icon [icon]="faFilter"></fa-icon>
            </div>
            <div class="refresh" (click)="getAllJobs()">
              <fa-icon class="icon" [icon]="faRotateRight"></fa-icon>
            </div>
            <div class="ellipsis">
              <fa-icon class="icon" [icon]="faEllipsisVertical"></fa-icon>
            </div>
          </div>
        </div>
        <div class="overview-right-body-bottom-body">
          <app-overview-job-row
            *ngFor="let job of jobs"
            [id]="job.id"
            [title]="job.name"
            eventsIngested="0"
            jobStatus="active"
            [lastSyncedTime]="getLastUpdatedDate(job.modifiedAt)"
          ></app-overview-job-row>
        </div>
      </div>
    </div>
  </div>
</div>
<app-create-team
  [showCreateTeamModal]="showCreateTeamModal"
  (closeModalEvent)="showCreateTeamModal = false"
></app-create-team>
