@import "variables";

.overview {
  display: flex;
  flex-direction: row;

  &-left {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh;
  }

  &-right {
    width: calc(100% - 10px);
    height: 100%;
    display: flex;
    flex-direction: column;

    &-body {
      padding: 22px 32px 22px;
      gap: 0.5rem;
      display: flex;
      flex-direction: column;
      height: 100%;

      &-bottom {

        &-body {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
        }

        &-header {
          color: $grey-color-text;
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 14px;
          font-weight: $font-medium;
          gap: 15px;
          padding: 6px 10px;

          & .checkbox {
            flex-shrink: 0;
          }

          & .jobs {
            flex: 0.7;
          }

          & .message {
            flex: 0.4;
          }

          & .events-ingested {
            flex: 0.6;
            text-align: center;
          }

          & .buttons {
            flex: 1.9;
            display: flex;
            justify-content: flex-end;
            gap: 16px;

            & .icon {
              cursor: pointer;

              &:hover {
                opacity: 0.7;
              }
            }

            & .create-job {
              width: 80px;
            }
          }
        }
      }
    }
  }
}
